<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Learn Opal</title>
		<link rel="stylesheet" href="styles/app.css"/>
		<script src="scripts/main.js"></script>
	</head>

	<%= render 'app' %>

</html>
